name: Sync to Gitee
on: [push]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Sync to Gitee Repository
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:${{ github.workspace }} \
            -w ${{ github.workspace }} \
            -e PLUGIN_TARGET_URL="https://gitee.com/TencentCloudBase/awesome-cloudbase-examples.git" \
            -e PLUGIN_AUTH_TYPE="https" \
            -e PLUGIN_USERNAME="jiwenchi" \
            -e PLUGIN_PASSWORD=${{ secrets.GITEE_TOKEN }} \
            -e PLUGIN_FORCE="true" \
            tencentcom/git-sync
